.container {
  width: 55%;
  margin: auto;
  text-align: center;
  height: 100vh ;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
 
}

h1 {
  margin: 30px;
  font-family: "Atma", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 5rem;
  color: white;
}
h2{
  font-size: 3rem;
  color: #4ECCA3;
  font-family: "Atma", system-ui;
}
h3{
  font-size: 2rem;
  color: #60B5FF;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;

}
.relaod{
  font-size: 5rem;
  color: red;
  font-family:"Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.atra{
  color: white;
}
.atran{
  color:#3AB0FF;
  font-family:"Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}